{% extends "base.html" %}
{% block title %}Admin | EuroZoom{% endblock %}

{% block content %}

<div class="admin-container">
    <h2>Create User Account</h2>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <form method="POST">
        <label>Full Name:</label>
        <input type="text" name="full_name" required>

        <label>Email:</label>
        <input type="email" name="email" required>

        <label>Phone:</label>
        <input type="text" name="phone">

        <label>Subscription Plan:</label><br>
        <select name="subscription" required>
            <option value="Basic">Basic</option>
            <option value="Standard">Standard</option>
            <option value="Advanced">Advanced</option>
            <option value="Premium">Premium</option>
            <option value="Elite">Elite</option>
        </select><br>
    
        <label>Plan:</label><br>
        <select name="plan_days" required>
            <option value="24 Hours">24 Hours (250)</option>
            <option value="3 Days">3 Days (395)</option>
            <option value="7 Days">7 Days (495)</option>
            <option value="31 Days">31 Days (695)</option>
            <option value="45 Days">45 Days (795)</option>
        </select><br>
    
        <label>Amount:</label><br>
        <select name="amount" required>
            <option value="250">250.TK (1d)</option>
            <option value="395">395.TK (3d)</option>
            <option value="495">495.TK (7d)</option>
            <option value="695">695.TK (31d)</option>
            <option value="795">795.TK (45d)</option>
        </select><br>

        <label>Devices Allowed:</label><br>
        <select name="devices" required>
            <option value="1">1 (1d)</option>
            <option value="2">2 (3d)</option>
            <option value="3">3 (7d)</option>
            <option value="4">4 (31d)</option>
            <option value="5">5 (45d)</option>
        </select><br>
    
        <label>Start Date:</label><br>
        <input type="datetime-local" name="start_date" required><br>
    
        <label>End Date:</label><br>
        <input type="datetime-local" name="end_date" required><br><br>

        <button type="submit" class="eurozoom-btn">Create Account</button>
    </form>
</div>
{% endblock %}
