<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='EuroZoom-Tab.svg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Social Media Icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    {% include 'navbar.html' %}

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    {% include 'footer.html' %}
</body>
</html>

