<section id="footer">
    <div class="main-footer">
      <div class="footer-col logoinfo" data-aos="fade-up">
        <h2>EuroZoom</h2>
        <div class="contact-details">
          <p>Our smart monitoring system detects 'Select Module', rings your alarm, and opens the registration page within 5 seconds.</p>
        </div>
      </div>
  
      <div class="footer-col com" data-aos="fade-up">
        <h1>Quick Links</h1>
        <ul>
          <li><a href="/about">About Us</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
  
      <div class="footer-col info" data-aos="fade-up">
        <h1>Social Media</h1>
        <div class="sociallogos">
          <div class="logobox">
            <a href="https://www.facebook.com/nafiz.SE" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://www.youtube.com/@EuroZoom-Nafiz/videos" target="_blank"><i class="fa fa-youtube-play"></i></a>
            <a href="https://www.linkedin.com/in/nafiz-swe" target="_blank"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  
    <footer class="bottom-footer">
      <p>© 2025 <strong>EuroZoom</strong> All rights reserved. Developed by 
        <a href="https://wa.me/8801737226404" target="_blank"><strong>Nafiz</strong></a>
      </p>
    </footer>
  </section>
  