{% extends "base.html" %}
{% block title %}Home | EuroZoom{% endblock %}
{% block content %}


<!-- Banner section -->
<section class="banner">
  <img src="{{ url_for('static', filename='goethe-eurozoom.webp') }}" alt="Goethe Eurozoom Banner" />
</section>

<!-- Stats Cards -->
<section class="stats-cards">
  <div class="stat-card">
    <div class="stat-number">24hr</div>
    <div class="stat-title">Monitoring</div>
  </div>
  <div class="stat-card">
    <div class="stat-number count" data-target="53">0</div>
    <div class="stat-title">Service Taken</div>
  </div>
  <div class="stat-card">
    <div class="stat-number count" data-target="37">0</div>
    <div class="stat-title">Successfully Registered</div>
  </div>
  <div class="stat-card">
    <div class="stat-number">24/7</div>
    <div class="stat-title">Support</div>
  </div>
</section>
<script>
  const counters = document.querySelectorAll('.count');
  const speed = 50;

  counters.forEach(counter => {
    const updateCount = () => {
      const target = +counter.getAttribute('data-target');
      const count = +counter.innerText.replace('+', ''); // '+' remove kore number pabo

      const increment = Math.ceil(target / speed);

      if(count < target) {
        counter.innerText = count + increment > target ? target : count + increment;
        setTimeout(updateCount, 70);
      } else {
        counter.innerText = target + '+';
      }
    };

    updateCount();
  });
</script>
    <main>
      <h1>মনিটরিং প্ল্যানসমূহ</h1>
      <p style="font-weight: bold; margin: 0 auto;">নিজের প্রয়োজন অনুযায়ী একটি প্ল্যান বেছে নিন এবং রেজিস্ট্রেশন চলাকালীন মনিটরিং শুরু করুন!</p>
      <p style="margin-bottom: 2rem; text-align: justify; line-height: 25px;">সকাল ৯টায় প্রথম রেজিস্ট্রেশন Fully Booked হবার পর, রেজিস্ট্রেশনের দিন থেকে শুরু করে আগামী ৪/৫ দিনের মধ্যে যেকোনো মুহূর্তে অল্প সময়ের জন্য 'Select Modules' আবার ওপেন হওয়া মাত্রই, - এই মনিটরিং সিস্টেমই আপনাকে সবার আগে জানাবে, যেন আপনি এক ঝটকায় রেজিস্ট্রেশন করে ফেলতে পারেন!
        চিন্তা করবেন না, - আপনি ল্যাপটপ বা কম্পিউটারে মনিটরিং চালু রেখেও অন্যান্য
        কাজ করতে পারবেন আপনার ল্যাপটপ/কম্পিউটার দিয়ে। একবার মনিটরিং শুরু করার পর মনিটরিংয়ের পেজ পরিবর্তন হলেও আপনার মনিটরিং তবুও চলতেই থাকবে।
        যখন 'Select Modules' অপশন দৃশ্যমান হবে, তখন ৫ সেকেন্ডের মধ্যেই অটোমেটিক ভাবে অ্যালার্ম বেজে উঠবে এবং রেজিস্ট্রেশনের পেজ ওপেন হবে।  
        অন্যদের তুলনায় আপনি তখন খুব দ্রুত মডিউল সিলেক্ট করে রেজিস্ট্রেশন সম্পন্ন করতে পারবেন, ইন শা আল্লাহ।
        যদি আপনার ইন্টারনেট ধীরগতির হয়, তবুও সর্বোচ্চ ১৫ সেকেন্ডের মধ্যেই অটোমেটিক ভাবে অ্যালার্ম বেজে উঠবে এবং রেজিস্ট্রেশনের পেজ ওপেন হবে।
        যেকোনো প্রশ্নের জন্য, আমাদের সাথে যোগাযোগ করুন <a href="https://wa.me/8801737226404" target="_blank">01737-226404</a> (WhatsApp-এ যুক্ত হতে নাম্বারে ক্লিক করুন)।</p>
      <div class="card-container">
        <div class="card-basic">
          <div class="card-header header-basic">
            <h1>Basic</h1>
          </div>
          <div class="card-body">
            <h2>৳250 / 24 Hours</h2>
            <div class="card-element-hidden-basic">
              <ul class="card-element-container">
                <li class="card-element">✓ Devices Allowed 1</li>
                <li class="card-element">✓ Only Chrome Browser</li>
                <li class="card-element">✓ Customize Alarm Tone</li>
                <li class="card-element">✓ 24/7 Support</li>
              </ul>
              <a href="https://wa.me/8801737226404" target="_blank" class="btn btn-basic">Start Now</a>
            </div>
          </div>
        </div>
        
        <div class="card-standard">
          <div class="card-header header-standard">
            <h1>Standard</h1>
          </div>
          <div class="card-body">
            <h2>৳395 / 3 Days</h2>
            <div class="card-element-hidden-standard">
              <ul class="card-element-container">
                <li class="card-element">✓ Devices Allowed 2</li>
                <li class="card-element">✓ Only Chrome Browser</li>
                <li class="card-element">✓ Customize Alarm Tone</li>
                <li class="card-element">✓ 24/7 Support</li>
              </ul>
              <a href="https://wa.me/8801737226404" target="_blank" class="btn btn-standard">Start Now</a>
            </div>
          </div>
        </div>

        <div class="card-advanced">
          <div class="card-header header-advanced">
            <h1>Advanced</h1>
          </div>
          <div class="card-body">
            <h2>৳495 / 7 Days</h2>
            <div class="card-element-hidden-advanced">
              <ul class="card-element-container">
                <li class="card-element">✓ Devices Allowed 3</li>
                <li class="card-element">✓ Only Chrome Browser</li>
                <li class="card-element">✓ Customize Alarm Tone</li>
                <li class="card-element">✓ 24/7 Support</li>
              </ul>
              <a href="https://wa.me/8801737226404" target="_blank" class="btn btn-advanced">Start Now</a>
            </div>
          </div>
        </div>


        <div class="card-premium">
            <div class="card-header header-premium">
              <h1>Premium</h1>
            </div>
            <div class="card-body">
              <h2>৳695 / 31 Days</h2>
              <div class="card-element-hidden-premium">
                <ul class="card-element-container">
                    <li class="card-element">✓ Devices Allowed 4</li>
                    <li class="card-element">✓ Only Chrome Browser</li>
                    <li class="card-element">✓ Customize Alarm Tone</li>
                    <li class="card-element">✓ 24/7 Support</li>
                </ul>
                <a href="https://wa.me/8801737226404" target="_blank" class="btn btn-premium">Start Now</a>
              </div>
            </div>
          </div>
          
          <div class="card-elite">
            <div class="card-header header-elite">
              <h1>Elite</h1>
            </div>
            <div class="card-body">
              <h2>৳795 / 45 Days</h2>
              <div class="card-element-hidden-elite">
                <ul class="card-element-container">
                  <li class="card-element">✓ Devices Allowed 5</li>
                  <li class="card-element">✓ Only Chrome Browser</li>
                  <li class="card-element">✓ Customize Alarm Tone</li>
                  <li class="card-element">✓ 24/7 Support</li>
                </ul>
                <a href="https://wa.me/8801737226404" target="_blank" class="btn btn-elite">Start Now</a>
              </div>
            </div>
          </div>
        </div>
      </main>
  
      {% endblock %}