{% extends "base.html" %}
{% block title %}Home | EuroZoom{% endblock %}
{% block content %}


<!-- Banner section -->
<section class="banner">
  <img src="{{ url_for('static', filename='goethe-eurozoom.webp') }}" alt="Goethe Eurozoom Banner" />
</section>
<!-- Stats Cards -->
<section class="stats-cards">
  <div class="stat-card">
    <div class="stat-number">24hr</div>
    <div class="stat-title">Monitoring</div>
  </div>
  <div class="stat-card">
    <div class="stat-number count" data-target="0">0</div>
    <div class="stat-title">Service Taken</div>
  </div>
  <div class="stat-card">
    <div class="stat-number count" data-target="0">0</div>
    <div class="stat-title">Successfully Registered</div>
  </div>
  <div class="stat-card">
    <div class="stat-number">24/7</div>
    <div class="stat-title">Support</div>
  </div>
</section>
<script>
  const counters = document.querySelectorAll('.count');
  const speed = 50;

  counters.forEach(counter => {
    const updateCount = () => {
      const target = +counter.getAttribute('data-target');
      const count = +counter.innerText.replace('+', ''); // '+' remove kore number pabo

      const increment = Math.ceil(target / speed);

      if(count < target) {
        counter.innerText = count + increment > target ? target : count + increment;
        setTimeout(updateCount, 70);
      } else {
        counter.innerText = target + '+';
      }
    };

    updateCount();
  });
</script>
    <main>
      <h1>মনিটরিং প্ল্যানসমূহ</h1>
      <p style="font-weight: bold; margin: 0 auto;">নিজের প্রয়োজন অনুযায়ী একটি প্ল্যান বেছে নিন এবং রেজিস্ট্রেশন চলাকালীন মনিটরিং শুরু করুন!</p>
      <p style=" text-align: justify; line-height: 25px;">
        বাংলাদেশ Goethe Institut-এর সকাল ৯ টার রেজিস্ট্রেশন সেশনে অনেকেই যখন সিট বুক করতে পারেনা বা ১৫-২০ মিনিটের মধ্যেই সিট ফুল হয়ে যায় (প্রকৃত পক্ষে প্রথম রেজিস্ট্রেশনে সকাল ৯টাই সব গুলো সিট ওপেন করেনা), 
        তখন অনেকেই হতাশ হয়ে পড়েন। কিন্তু জানেন, রেজিস্ট্রেশন শুরুর দিন থেকে আগামী ৪/৫ দিন পর্যন্ত প্রতিদিন সকাল ৯টা থেকে সন্ধা ৭টার মধ্যে যেকোনো সময় ২ থেকে ৫বার করে রেজিস্ট্রেশনের জন্য 'Select Modules' অল্প সময়ের জন্য আবার ওপেন করা হয়।
        সকাল ৯ টার প্রথম রেজিস্ট্রেশনের পরবর্তী সময়ে B1 বা B2 পরীক্ষার ‘Select Modules’ আবার কখন এবং কোন সময় ওপেন করবে, তা কেউ নিশ্চিত করে জানে না। তাই প্রথম রেজিস্ট্রেশন সেশনের পরবর্তী সময়ে যদি ‘Select Modules’ আবার ওপেন হয়, 
        সেই সময় সবচেয়ে দ্রুত যারা ‘Select Modules’ দেখতে পান, তারাই সিট বুক করতে সক্ষম হন। আমাদের মনিটরিং সিস্টেম ঠিক এখানেই কাজ করে — এটি আপনার ব্রাউজার থেকে অটোমেটিক চলতে থাকবে, আপনাকে বারবার পেজ রিফ্রেশ বা ম্যানুয়ালি চেক 
        করার ঝামেলা থেকে মুক্তি দেবে এবং যখন ‘Select Modules’ ওপেন হবে, তখনই আপনার ল্যাপটপ বা কম্পিউটারে অ্যালার্ম বাজবে, যাতে আপনি সবার আগে খবর পেয়ে দ্রুত সিট বুক করতে পারেন।
      <br> <br>
          সবচেয়ে দারুণ বিষয় হলো, মনিটরিং চলাকালীন আপনি যদি পেজ থেকে ব্যাক করেন বা অন্য কোনো লিঙ্কে যান, তবুও আপনার মনিটরিং বন্ধ হবে না। মনিটরিং চলাকালীন আপনি আপনার ল্যাপটপ বা কম্পিউটারে অন্য যেকোনো কার্যক্রম চালিয়ে যেতে পারবেন। 
          যেমন: YouTube দেখা, Facebook ব্যবহার, Google সার্চ, অথবা অন্যান্য ওয়েব ব্রাউজারে ভিজিট করা — সবই করতে পারবেন। এতে মনিটরিং সিস্টেমের কোনো সমস্যা হবে না এবং এটি নিরবিচারে ব্যাকগ্রাউন্ডে কাজ করে যাবে।
          আমাদের মনিটরিং সিস্টেম ১০০% কার্যকরী এবং এটি শুধুমাত্র লোকাল সার্ভারের জন্য প্রযোজ্য। এই মনিটরিং সিস্টেম শুধুমাত্র ল্যাপটপ বা কম্পিউটারের মাধ্যমে চালানো যাবে, মোবাইল থেকে কোনো সুবিধা পাওয়া যাবে না।
        বিস্তারিত জানতে <a href="/about" target="_blank">About Us</a> পেজ ভিজিট করুন।
      </p>
        <p style="text-align: justify; line-height: 25px; font-weight: bold; margin: 0 auto;  color: red;">
          নির্ধারিত সময় সকাল ৯টায় সিট বুক করতে পারলে সাবস্ক্রিপশনের পুরো টাকা ১০০% ক্যাশব্যাক পাবেন, ইন শা আল্লাহ।
          আপনার সাবস্ক্রিপশনের লাস্ট ডেট/সময় পর্যন্ত আমাদের মনিটরিং সিস্টেম ব্যবহার করে আপনি যদি B1/B2 সিট বুক করতে না পারেন, তাহলে আপনার জন্য থাকছে ৩০% ক্যাশব্যাক। যদি সিট বুক করতে সক্ষম হন তবুও আপনার জন্য থাকছে ১০% ক্যাশব্যাক (অফারগুলো শুধুমাত্র রেজিস্ট্রেশনের আগেই সাবস্ক্রিপশন নেওয়া ইউজারদের জন্য প্রযোজ্য)।
          যেকোনো প্রশ্নের জন্য, আমাদের সাথে যোগাযোগ করুন <a href="https://chat.whatsapp.com/FKE3ArsX3JL8plraBIcU5G" target="_blank">01737-226404</a> (WhatsApp)।</p>
        <div class="card-container">
        <div class="card-free">
          <div class="card-header header-free">
            <h1>Free</h1>
          </div>
          <div class="card-body">
            <h2>৳00 / ♾️ Hours</h2>
            <p class="extra-days" style="color:#45556c !important;">Trial Access — Monitoring Not Included</p>
            <div class="card-element-hidden-free">
              <ul class="card-element-container">
                <li class="card-element">✓ Up to 2150 users login</li>
                <li class="card-element">✗ Monitoring Disabled</li>
                <li class="card-element">✓ eurozoom@mail.com</li>
                <li class="card-element">✓ Free login using email</li>
              </ul>
              <a href="/login" target="_blank" class="btn btn-free">Login Now</a>
            </div>
          </div>
        </div>
        <div class="card-basic">
          <div class="card-header header-basic">
            <h1>Basic</h1>
          </div>
          <div class="card-body">
            <h2>৳250 / 12 Hours</h2>
            <p class="extra-days" style="color:#5ea500 !important;">Valid from 9 AM–9 PM (1 day access)</p>
            <div class="card-element-hidden-basic">
              <ul class="card-element-container">
                <li class="card-element">✓ Devices Allowed 1</li>
                <li class="card-element">✓ Only Laptop & PC users</li>
                <li class="card-element">✓ Customize Alarm Tone</li>
                <li class="card-element">✓ 24/7 Support</li>
              </ul>
              <a href="https://chat.whatsapp.com/FKE3ArsX3JL8plraBIcU5G" target="_blank" class="btn btn-basic">Start Now</a>
            </div>
          </div>
        </div>
        <div class="card-standard">
          <div class="card-header header-standard">
            <h1>Standard</h1>
          </div>
          <div class="card-body">
            <h2>৳395 / 3 Days</h2>
            <p class="extra-days" style="color:#cf087c !important;">3-Day Access during Registration</p>
            <div class="card-element-hidden-standard">
              <ul class="card-element-container">
                <li class="card-element">✓ Devices Allowed 2</li>
                <li class="card-element">✓ Only Laptop & PC users</li>
                <li class="card-element">✓ Customize Alarm Tone</li>
                <li class="card-element">✓ 24/7 Support</li>
              </ul>
              <a href="https://chat.whatsapp.com/FKE3ArsX3JL8plraBIcU5G" target="_blank" class="btn btn-standard">Start Now</a>
            </div>
          </div>
        </div>
        <div class="card-advanced">
          <div class="recommended-label">Recommended</div>
          <div class="card-header header-advanced">
            <h1>Advanced</h1>
          </div>
          <div class="card-body">
            <h2>৳495 / 7 Days</h2>
            <p class="extra-days"><span class="cut-text">~~5 Days~~</span> + 2 Days Free</p>
            <div class="card-element-hidden-advanced">
              <ul class="card-element-container">
                <li class="card-element">✓ Devices Allowed 3</li>
                <li class="card-element">✓ Only Laptop & PC users</li>
                <li class="card-element">✓ Customize Alarm Tone</li>
                <li class="card-element">✓ 24/7 Support</li>
              </ul>
              <a href="https://chat.whatsapp.com/FKE3ArsX3JL8plraBIcU5G" target="_blank" class="btn btn-advanced">Start Now</a>
            </div>
          </div>
        </div>
        <div class="card-premium">
            <div class="card-header header-premium">
              <h1>Premium</h1>
            </div>
            <div class="card-body">
              <h2>৳695 / Valid 2 Reg.</h2>
              <p class="extra-days" style="color:#ee5700 !important;">Covers 2 upcoming GZ registrations</p>
              <div class="card-element-hidden-premium">
                <ul class="card-element-container">
                    <li class="card-element">✓ Devices Allowed 4</li>
                    <li class="card-element">✓ Only Laptop & PC users</li>
                    <li class="card-element">✓ Customize Alarm Tone</li>
                    <li class="card-element">✓ 24/7 Support</li>
                </ul>
                <a href="https://chat.whatsapp.com/FKE3ArsX3JL8plraBIcU5G" target="_blank" class="btn btn-premium">Start Now</a>
              </div>
            </div>
          </div>
          <div class="card-elite">
            <div class="card-header header-elite">
              <h1>Elite</h1>
            </div>
            <div class="card-body">
              <h2>৳795 / Valid 3 Reg.</h2>
              <p class="extra-days" style="color:#0084d1 !important;">Covers 3 upcoming GZ registrations</p>
              <div class="card-element-hidden-elite">
                <ul class="card-element-container">
                  <li class="card-element">✓ Devices Allowed 5</li>
                  <li class="card-element">✓ Only Laptop & PC users</li>
                  <li class="card-element">✓ Customize Alarm Tone</li>
                  <li class="card-element">✓ 24/7 Support</li>
                </ul>
                <a href="https://chat.whatsapp.com/FKE3ArsX3JL8plraBIcU5G" target="_blank" class="btn btn-elite">Start Now</a>
              </div>
            </div>
          </div>
        </div>
      </main>
      <section class="pdf-section">
        <div class="pdf-container">
          <h2>ইউরোজুম মনিটরিং গাইড</h2>
          <p style=" text-align: justify; line-height: 25px;">এই ডকুমেন্টে আপনি জানতে পারবেন আমাদের মনিটরিং সিস্টেম কীভাবে কাজ করে এবং কীভাবে আপনি এর সর্বোচ্চ সুবিধা নিতে পারেন।
            আপনার পছন্দের প্ল্যান পারচেজ করার পর- শুরুতেই আপনাকে ২টা সফটওয়্যার ডাউনলোড করতে হবে (Anydesk & VS Code)। তারপর আপনার ল্যাপটপ বা কম্পিউটারে মনিটরিং সিস্টেম AnyDesk-এর মাধ্যমে সম্পূর্ণ সেটআপ করে দেওয়া হবে। এটি ১০০% নিরাপদ এবং সেটআপ শেষে ব্যবহার করা একদম সহজ।
          </p>
          <iframe src="{{ url_for('static', filename='GoetheMonitoring-EuroZoom.pdf') }}" width="100%" height="600px">dkmnt</iframe>
        </div>
      </section>
      {% endblock %}